<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MusicAlignApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicAlignApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.screens.align.AlignActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.screens.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.screens.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.screens.addfile.AddFileActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.screens.signin.SignUpActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".ui.screens.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.musicalignapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_provider" />
        </provider>
    </application>

</manifest>